# Node.js
node_modules/
npm-debug.log
package-lock.json
.env

# Angular
la-gurans-app-frontend/.angular/
la-gurans-app-frontend/src/environments/*.ts

# Backend
la-gurans-app-backend/node_modules/
la-gurans-app-backend/.env

# IDE specific files
.idea/
.vscode/
