# Node.js
node_modules/
npm-debug.log
package-lock.json
.env

# Angular (Frontend)
la-gurans-app-frontend/.angular/
la-gurans-app-frontend/src/environments/*.ts

# Backend
la-gurans-app-backend/node_modules/
la-gurans-app-backend/.env

# IDE specific files
.idea/
.vscode/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Miscellaneous
/.angular/cache
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/

# System files
.DS_Store
Thumbs.db
.vercel
